.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ebffff;
  max-height: 100vh; }
  .game-board div {
    text-align: center; }
    .game-board div :hover {
      cursor: pointer !important; }
  .game-board .no-card {
    border: none;
    background-color: transparent; }
  .game-board .game-card.activated {
    animation: flip 0.5s ease; }

.game-card {
  text-align: center;
  display: inline-block;
  margin: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  background-color: gray; }
  .game-card .card-face {
    height: 100%;
    width: 100%; }

.game-card.face-up {
  background-color: white; }

@keyframes flip {
  0% {
    transform: rotateY(0deg); }
  90% {
    color: transparent; }
  100% {
    color: black;
    transform: rotateY(180deg); } }
